div {
    background-color:#fff5ee;
    border-radius: 4px;
     
}
Body {
    background-color: #fff5ee;
    font-family: 'Lucida Sans';
    font-size: medium;
}
@keyframes colorAnim {
    from {color:#9400d3;}
  to {color:#310742 ;}
        
}
@keyframes buttonAnim {
    from { background-color:#9400d3;
            color:black}
    to { background-color:#310742;
            color:#9400d3;}
}
h4 {
    font-family: 'Lucida Sans';
    font-size: larger;   
}
img {
    border-radius: 4px;
    width: 100px;
    height: 100px;
}
p {
   color:#9400d3
}
p:hover {
    animation-name: colorAnim;
    animation-duration: .25s;
}
button {
    border-radius: 4px;
    background-color: #9400d3;
    font-family: 'Lucida Sans';
  
    
    
}
button:hover {
    animation-name: buttonAnim;
    animation-duration: .25s;
    animation-fill-mode:forwards
    

}

#imageContainer{
    background-color:black;
    box-shadow: 5px 10px 15px  #9400d3;
    border-radius: 4px;
    border-width: 3px;
    border-style:solid;
    width: 600px;
    height: 600px;
    margin-top: 100px;
}