div {
    background-color:#fff5ee;
    border-radius: 4px;
     
}
#container{
    margin-left: 40px;
}
Body {
    background-color: #fff5ee;
    font-family: 'Lucida Sans';
    font-size: medium;
}
@keyframes colorAnim {
    from {color:#9400d3;}
  to {color:#310742 ;}
        
}
@keyframes buttonAnim {
    from { background-color:#9400d3;
            color:black}
    to { background-color:#310742;
            color:#9400d3;}
}
h4 {
    font-family: 'Lucida Sans';
    font-size: larger;   
}
table{
    border-radius: 4px;
    border-color: dimgrey;
    border-width: 2px;
}
th {
border: 1px solid #310742;
  border-collapse: collapse;
  background-color: #9400d3;
  margin-left:700px;
  padding-left:4px;
  padding-right:4px;
  padding-top: 4px;
  padding-bottom:4px;
  text-align: center;
}
td{
    font-family: impact;
    font-size: large;
}
a:link, a:hover, a:visited, a:active {
    color:black;
}
img {
    border-radius: 4px;
    width: auto;
    height: auto;
}
p {
   color:black
}
#submitButton {
    margin-top: 10px;
    border-radius: 4px;
    background-color: #9400d3;
    font-family: 'Lucida Sans';
}
#submitButton:hover {
    animation-name: buttonAnim;
    animation-duration: .25s;
    animation-fill-mode:forwards
}

#imageContainer {
    margin-top: 30px;
}

input, select {
    border-radius: 4px;
}
input:hover,select:hover{
    background-color: lightgray;
}
#paragraphContainer{
    float: left;
}
#tableContainer{
    margin-right: 40px;
    float: right;
}
#formContainer{
    margin-top: 100px;
}

.inputAndLabel label {
    float: left;
    margin-bottom: 5px
}

.selectAndLabel {
    clear: left;
}

.secondRow td {
    background-color : #fff5ee;
    border-color: dimgrey;
    border-width: 1px;
    border-style: solid;
}

.thirdRow td {
    border-color: dimgrey;
    background-color: #cac3bf;
    border-width: 1px;
    border-style: solid;
    text-align: center;
}